{
    "openapi": "3.0.0",
    "info": {
        "title": "API Documentation",
        "description": "This is the API documentation for the project.",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://hooshba.webcomcoai.com/api",
            "description": "Local Development Server"
        }
    ],
    "paths": {
        "/send-verification-code": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Send a verification code",
                "description": "این متد برای ارسال کد تایید به شماره موبایل استفاده می‌شود.",
                "operationId": "sendVerificationCode",
                "parameters": [
                    {
                        "name": "mobile",
                        "in": "query",
                        "description": "شماره موبایل کاربر",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "09121234567"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "کد تایید با موفقیت ارسال شد.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "کد تایید با موفقیت ارسال شد."
                                        },
                                        "cache_key": {
                                            "type": "string",
                                            "example": "mobile_12345"
                                        },
                                        "code": {
                                            "type": "integer",
                                            "example": 123456
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "این شماره موبایل قبلاً تایید و ثبت شده است.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "این شماره موبایل قبلاً تایید و ثبت شده است."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/verify-code": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Verify the verification code",
                "description": "این متد برای تایید کد ارسالی استفاده می‌شود.",
                "operationId": "verifyCode",
                "parameters": [
                    {
                        "name": "cache_key",
                        "in": "query",
                        "description": "کلید ذخیره شده برای موبایل",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "mobile_12345"
                        }
                    },
                    {
                        "name": "code",
                        "in": "query",
                        "description": "کد تایید ارسال شده",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 123456
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "شماره موبایل با موفقیت تایید شد.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "شماره موبایل با موفقیت تایید شد."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "کد نامعتبر است یا منقضی شده است.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "کد نامعتبر است یا منقضی شده است."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "زمان شما به پایان رسید.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "زمان شما به پایان رسید."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/register": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Register a new user",
                "description": "این متد برای ثبت کاربر جدید استفاده می‌شود.",
                "operationId": "register",
                "parameters": [
                    {
                        "name": "name",
                        "in": "query",
                        "description": "نام کامل کاربر",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "John Doe"
                        }
                    },
                    {
                        "name": "email",
                        "in": "query",
                        "description": "ایمیل کاربر",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "john.doe@example.com"
                        }
                    },
                    {
                        "name": "province_id",
                        "in": "query",
                        "description": "شهر کاربر",
                        "required": true,
                        "schema": {
                            "type": "number",
                            "example": "21"
                        }
                    },
                    {
                        "name": "password",
                        "in": "query",
                        "description": "رمز عبور کاربر",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "password123"
                        }
                    },
                    {
                        "name": "password_confirmation",
                        "in": "query",
                        "description": "تایید رمز عبور",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "password123"
                        }
                    },
                    {
                        "name": "cache_key",
                        "in": "query",
                        "description": "کلید ذخیره شده برای موبایل",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "mobile_12345"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "کاربر با موفقیت ثبت نام کرد.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "کاربر با موفقیت ثبت نام کرد."
                                        },
                                        "token": {
                                            "type": "string",
                                            "example": "token12345"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "این شماره موبایل قبلاً تایید و ثبت شده است.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "این شماره موبایل قبلاً تایید و ثبت شده است."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/authentication": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Authenticate the user",
                "description": "این متد بررسی می‌کند که آیا کاربر احراز هویت شده است یا خیر.",
                "operationId": "authentication",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "توکن احراز هویت به صورت Bearer Token",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "کاربر احراز هویت شده است.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "id": {
                                            "type": "integer",
                                            "example": 1
                                        },
                                        "name": {
                                            "type": "string",
                                            "example": "John Doe"
                                        },
                                        "email": {
                                            "type": "string",
                                            "example": "john.doe@example.com"
                                        },
                                        "mobile": {
                                            "type": "string",
                                            "example": "09121234567"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "کاربر احراز هویت نشده است.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "کاربر احراز هویت نشده است."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/login": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Log in a user",
                "description": "این متد برای ورود کاربر استفاده می‌شود.",
                "operationId": "login",
                "parameters": [
                    {
                        "name": "mobile",
                        "in": "query",
                        "description": "شماره موبایل کاربر",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "09121234567"
                        }
                    },
                    {
                        "name": "password",
                        "in": "query",
                        "description": "رمز عبور کاربر",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "password123"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "ورود با موفقیت انجام شد.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "ورود با موفقیت انجام شد."
                                        },
                                        "token": {
                                            "type": "string",
                                            "example": "token12345"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "اطلاعات ورود نامعتبر است.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "اطلاعات ورود نامعتبر است."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/logout": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Log out a user",
                "description": "این متد برای خروج کاربر استفاده می‌شود و تمام توکن‌های کاربر را باطل می‌کند.",
                "operationId": "logout",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "توکن احراز هویت به صورت Bearer Token",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "خروج با موفقیت انجام شد.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "خروج با موفقیت انجام شد."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "کاربر احراز هویت نشده است.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "کاربر احراز هویت نشده است."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/resend-verification-code": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Resend the verification code",
                "description": "این متد برای ارسال مجدد کد تایید به شماره موبایل استفاده می‌شود.",
                "operationId": "resendVerificationCode",
                "parameters": [
                    {
                        "name": "cache_key",
                        "in": "query",
                        "description": "کلید ذخیره شده برای موبایل",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "mobile_12345"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "کد تایید با موفقیت ارسال شد.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "کد تایید با موفقیت ارسال شد."
                                        },
                                        "code": {
                                            "type": "integer",
                                            "example": 123456
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "این شماره موبایل قبلاً تایید و ثبت شده است.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "این شماره موبایل قبلاً تایید و ثبت شده است."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "زمان شما به پایان رسید.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "زمان شما به پایان رسید."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/categories": {
            "get": {
                "tags": [
                    "Categories"
                ],
                "summary": "List all categories",
                "description": "این متد لیست تمامی دسته‌بندی‌ها را بازمی‌گرداند.",
                "operationId": "getCategories",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "توکن احراز هویت به صورت Bearer Token",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "لیست دسته‌بندی‌ها.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "object"
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "خطای داخلی سرور.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "دریافت دسته‌بندی‌ها با شکست مواجه شد."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Categories"
                ],
                "summary": "Create a new category",
                "description": "این متد یک دسته‌بندی جدید ایجاد می‌کند.",
                "operationId": "storeCategory",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "توکن احراز هویت به صورت Bearer Token",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9"
                        }
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "description": "نام دسته‌بندی",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "دسته‌بندی جدید"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "دسته‌بندی با موفقیت ایجاد شد.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "اعتبارسنجی شکست خورد.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "اعتبارسنجی شکست خورد."
                                        },
                                        "details": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "ایجاد دسته‌بندی با شکست مواجه شد.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "ایجاد دسته‌بندی با شکست مواجه شد."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/categories/{id}": {
            "get": {
                "tags": [
                    "Categories"
                ],
                "summary": "Get a specific category",
                "description": "این متد اطلاعات یک دسته‌بندی خاص را بازمی‌گرداند.",
                "operationId": "getCategory",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "توکن احراز هویت به صورت Bearer Token",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "شناسه دسته‌بندی",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "اطلاعات دسته‌بندی.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "دسته‌بندی یافت نشد.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "دسته‌بندی یافت نشد."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "خطای داخلی سرور.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "دریافت دسته‌بندی با شکست مواجه شد."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Categories"
                ],
                "summary": "Update an existing category",
                "description": "این متد یک دسته‌بندی موجود را به‌روزرسانی می‌کند.",
                "operationId": "updateCategory",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "توکن احراز هویت به صورت Bearer Token",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "شناسه دسته‌بندی",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "description": "نام جدید دسته‌بندی",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "نام جدید دسته‌بندی"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "دسته‌بندی با موفقیت به‌روزرسانی شد.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "دسته‌بندی یافت نشد.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "دسته‌بندی یافت نشد."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "اعتبارسنجی شکست خورد.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "اعتبارسنجی شکست خورد."
                                        },
                                        "details": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Categories"
                ],
                "summary": "Delete a category",
                "description": "این متد یک دسته‌بندی را حذف می‌کند.",
                "operationId": "deleteCategory",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "توکن احراز هویت به صورت Bearer Token",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "شناسه دسته‌بندی",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "دسته‌بندی با موفقیت حذف شد.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "دسته‌بندی با موفقیت حذف شد."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "دسته‌بندی یافت نشد.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "دسته‌بندی یافت نشد."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "حذف دسته‌بندی با شکست مواجه شد.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "حذف دسته‌بندی با شکست مواجه شد."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/categories/front-all-categories": {
            "get": {
                "tags": [
                    "Categories"
                ],
                "summary": "Get all categories for the front-end",
                "description": "این متد تمامی دسته‌بندی‌ها را بازمی‌گرداند.",
                "operationId": "frontAllCategories",
                "responses": {
                    "200": {
                        "description": "لیست دسته‌بندی‌ها.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "object"
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "خطای داخلی سرور.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "دریافت دسته بندی ها با شکست مواجه شد."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/categories/front-single-category": {
            "get": {
                "tags": [
                    "Categories"
                ],
                "summary": "Get a single category for the front-end",
                "description": "این متد اطلاعات یک دسته‌بندی را با استفاده از slug بازمی‌گرداند.",
                "operationId": "frontSingleCategory",
                "parameters": [
                    {
                        "name": "slug",
                        "in": "query",
                        "description": "اسلاگ دسته‌بندی",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "category-slug"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "اطلاعات دسته‌بندی.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "خطای داخلی سرور.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "دریافت دسته بندی ها با شکست مواجه شد."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/committees": {
            "get": {
                "tags": [
                    "Committees"
                ],
                "summary": "دریافت تمامی کمیته‌ها",
                "description": "این متد تمامی کمیته‌ها را بازمی‌گرداند.",
                "operationId": "getCommittees",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "توکن احراز هویت به صورت Bearer Token",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9"
                        }
                    },
                    {
                        "name": "type",
                        "in": "query",
                        "description": "نوع کمیته‌ها (منتشر شده یا پیش‌نویس)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "published",
                                "draft"
                            ],
                            "example": "published"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "لیست کمیته‌ها.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "object"
                                            }
                                        },
                                        "pagination": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "خطای داخلی سرور.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "دریافت کمیته‌ها با شکست مواجه شد."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Committees"
                ],
                "summary": "ایجاد یک کمیته جدید",
                "description": "این متد یک کمیته جدید ایجاد می‌کند.",
                "operationId": "createCommittee",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "توکن احراز هویت به صورت Bearer Token",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "Committee Name"
                                    },
                                    "phone": {
                                        "type": "string",
                                        "example": "09123456789"
                                    },
                                    "members": {
                                        "type": "string",
                                        "example": "John, Doe, Jane"
                                    },
                                    "email": {
                                        "type": "string",
                                        "example": "committee@example.com"
                                    },
                                    "content": {
                                        "type": "string",
                                        "example": "Description of the committee"
                                    },
                                    "slug": {
                                        "type": "string",
                                        "example": "committee-name"
                                    },
                                    "image": {
                                        "type": "string",
                                        "format": "binary"
                                    },
                                    "is_published": {
                                        "type": "boolean",
                                        "example": true
                                    },
                                    "province_id": {
                                        "type": "integer",
                                        "example": 1
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "کمیته با موفقیت ایجاد شد.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "کمیته با موفقیت ایجاد شد."
                                        },
                                        "committee": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "اعتبارسنجی شکست خورد.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "اعتبارسنجی شکست خورد."
                                        },
                                        "details": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "ایجاد کمیته با شکست مواجه شد.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "ایجاد کمیته با شکست مواجه شد."
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/committees/{id}": {
            "get": {
                "tags": [
                    "Committees"
                ],
                "summary": "Get a specific committee",
                "description": "این متد یک کمیته مشخص را بازمی‌گرداند.",
                "operationId": "getCommittee",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "شناسه کمیته",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "اطلاعات کمیته.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "کمیته یافت نشد.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "کمیته یافت نشد."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "خطای داخلی سرور.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "دریافت کمیته با شکست مواجه شد."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Committees"
                ],
                "summary": "به‌روزرسانی یک کمیته موجود",
                "description": "به‌روزرسانی جزئیات یک کمیته موجود با استفاده از شناسه آن",
                "operationId": "updateCommittee",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "شناسه کمیته‌ای که باید به‌روزرسانی شود",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "name"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "maxLength": 255
                                    },
                                    "phone": {
                                        "type": "string",
                                        "pattern": "^(09)[0-9]{9}$",
                                        "nullable": true
                                    },
                                    "members": {
                                        "type": "string",
                                        "nullable": true
                                    },
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "maxLength": 255,
                                        "nullable": true
                                    },
                                    "content": {
                                        "type": "string",
                                        "nullable": true
                                    },
                                    "slug": {
                                        "type": "string",
                                        "nullable": true
                                    },
                                    "image": {
                                        "type": "string",
                                        "format": "binary",
                                        "nullable": true
                                    },
                                    "is_published": {
                                        "type": "boolean",
                                        "nullable": true
                                    },
                                    "province_id": {
                                        "type": "integer",
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "کمیته با موفقیت به‌روزرسانی شد.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "کمیته با موفقیت به‌روزرسانی شد."
                                        },
                                        "committee": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer"
                                                },
                                                "name": {
                                                    "type": "string"
                                                },
                                                "phone": {
                                                    "type": "string",
                                                    "nullable": true
                                                },
                                                "members": {
                                                    "type": "string",
                                                    "nullable": true
                                                },
                                                "email": {
                                                    "type": "string",
                                                    "nullable": true
                                                },
                                                "content": {
                                                    "type": "string",
                                                    "nullable": true
                                                },
                                                "slug": {
                                                    "type": "string",
                                                    "nullable": true
                                                },
                                                "image": {
                                                    "type": "string",
                                                    "nullable": true
                                                },
                                                "is_published": {
                                                    "type": "boolean",
                                                    "nullable": true
                                                },
                                                "province_id": {
                                                    "type": "integer",
                                                    "nullable": true
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "کمیته یافت نشد",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "کمیته یافت نشد."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "اعتبارسنجی شکست خورد",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "اعتبارسنجی شکست خورد."
                                        },
                                        "details": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "خطای داخلی سرور",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "به‌روزرسانی کمیته با شکست مواجه شد."
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Committees"
                ],
                "summary": "Delete a committee",
                "description": "Delete an existing committee by its ID",
                "operationId": "deleteCommittee",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of the committee to delete",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Committee deleted successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "کمیته با موفقیت حذف شد."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Committee not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "کمیته یافت نشد."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "حذف کمیته با شکست مواجه شد."
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/committees/published": {
            "get": {
                "tags": [
                    "Committees"
                ],
                "summary": "دریافت کمیته‌های منتشرشده",
                "description": "دریافت فهرستی از کمیته‌های منتشرشده به همراه اطلاعات کاربر و استان",
                "operationId": "getPublishedCommittees",
                "responses": {
                    "200": {
                        "description": "دریافت موفقیت‌آمیز فهرست کمیته‌های منتشرشده",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "integer"
                                                    },
                                                    "name": {
                                                        "type": "string"
                                                    },
                                                    "phone": {
                                                        "type": "string",
                                                        "nullable": true
                                                    },
                                                    "email": {
                                                        "type": "string",
                                                        "nullable": true
                                                    },
                                                    "is_published": {
                                                        "type": "boolean"
                                                    },
                                                    "user": {
                                                        "properties": {
                                                            "id": {
                                                                "type": "integer"
                                                            },
                                                            "name": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "province": {
                                                        "properties": {
                                                            "id": {
                                                                "type": "integer"
                                                            },
                                                            "name": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        },
                                        "links": {
                                            "type": "object"
                                        },
                                        "meta": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "خطای داخلی سرور",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "دریافت کمیته‌های منتشرشده با شکست مواجه شد."
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/committees/draft": {
            "get": {
                "tags": [
                    "Committees"
                ],
                "summary": "دریافت کمیته‌های پیش‌نویس",
                "description": "دریافت فهرستی از کمیته‌های پیش‌نویس به همراه اطلاعات کاربر و استان",
                "operationId": "getDraftCommittees",
                "responses": {
                    "200": {
                        "description": "دریافت موفقیت‌آمیز فهرست کمیته‌های پیش‌نویس",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "integer"
                                                    },
                                                    "name": {
                                                        "type": "string"
                                                    },
                                                    "phone": {
                                                        "type": "string",
                                                        "nullable": true
                                                    },
                                                    "email": {
                                                        "type": "string",
                                                        "nullable": true
                                                    },
                                                    "is_published": {
                                                        "type": "boolean"
                                                    },
                                                    "user": {
                                                        "properties": {
                                                            "id": {
                                                                "type": "integer"
                                                            },
                                                            "name": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "province": {
                                                        "properties": {
                                                            "id": {
                                                                "type": "integer"
                                                            },
                                                            "name": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        },
                                        "links": {
                                            "type": "object"
                                        },
                                        "meta": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "خطای داخلی سرور",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "دریافت کمیته‌های پیش‌نویس با شکست مواجه شد."
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/committees/front-all-committees": {
            "get": {
                "tags": [
                    "Committees"
                ],
                "summary": "دریافت همه کمیته‌های منتشر شده",
                "description": "دریافت فهرست تمامی کمیته‌های منتشر شده، با امکان فیلتر بر اساس استان",
                "operationId": "getFrontAllCommittees",
                "parameters": [
                    {
                        "name": "province",
                        "in": "query",
                        "description": "فیلتر کردن کمیته‌ها بر اساس استان",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "دریافت موفقیت‌آمیز فهرست کمیته‌های منتشر شده",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "integer"
                                                    },
                                                    "name": {
                                                        "type": "string"
                                                    },
                                                    "phone": {
                                                        "type": "string",
                                                        "nullable": true
                                                    },
                                                    "email": {
                                                        "type": "string",
                                                        "nullable": true
                                                    },
                                                    "is_published": {
                                                        "type": "boolean"
                                                    },
                                                    "user": {
                                                        "properties": {
                                                            "id": {
                                                                "type": "integer"
                                                            },
                                                            "name": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "province": {
                                                        "properties": {
                                                            "id": {
                                                                "type": "integer"
                                                            },
                                                            "name": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        },
                                        "links": {
                                            "type": "object"
                                        },
                                        "meta": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "خطای داخلی سرور",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "دریافت کمیته‌های منتشر شده با شکست مواجه شد."
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/front-single-committee/{slug}": {
            "get": {
                "tags": [
                    "Committees"
                ],
                "summary": "دریافت کمیته منتشر شده با شناسه خاص",
                "description": "دریافت اطلاعات یک کمیته منتشر شده با استفاده از شناسه (slug)",
                "operationId": "getFrontSingleCommittee",
                "parameters": [
                    {
                        "name": "slug",
                        "in": "path",
                        "description": "شناسه کمیته (slug) برای دریافت اطلاعات",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "دریافت موفقیت‌آمیز کمیته منتشر شده",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "id": {
                                            "type": "integer"
                                        },
                                        "name": {
                                            "type": "string"
                                        },
                                        "phone": {
                                            "type": "string",
                                            "nullable": true
                                        },
                                        "email": {
                                            "type": "string",
                                            "nullable": true
                                        },
                                        "is_published": {
                                            "type": "boolean"
                                        },
                                        "user": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer"
                                                },
                                                "name": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "province": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer"
                                                },
                                                "name": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "خطای داخلی سرور",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "دریافت کمیته منتشر شده با شکست مواجه شد."
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/members": {
            "get": {
                "tags": [
                    "Members"
                ],
                "summary": "دریافت لیست اعضا",
                "description": "این متد لیستی از اعضا را با امکان فیلتر کردن بر اساس نوع برمی‌گرداند.",
                "operationId": "getMembers",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "توکن احراز هویت به صورت Bearer Token",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9"
                        }
                    },
                    {
                        "name": "type",
                        "in": "query",
                        "description": "نوع اعضا برای فیلتر کردن (مثلاً: student یا teacher)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "student"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "لیست اعضا با موفقیت بازیابی شد.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "object"
                                            }
                                        },
                                        "links": {
                                            "type": "object"
                                        },
                                        "meta": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "دریافت اعضا با شکست مواجه شد.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "دریافت اعضا با شکست مواجه شد."
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Members"
                ],
                "summary": "ایجاد عضو جدید",
                "description": "این متد برای ایجاد یک عضو جدید در سیستم استفاده می‌شود.",
                "operationId": "storeMember",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "توکن احراز هویت به صورت Bearer Token",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "name": {
                                        "description": "نام عضو",
                                        "type": "string",
                                        "example": "John Doe"
                                    },
                                    "type": {
                                        "description": "نوع عضو",
                                        "type": "string",
                                        "enum": [
                                            "council",
                                            "presidency"
                                        ],
                                        "example": "council"
                                    },
                                    "job_position": {
                                        "description": "موقعیت شغلی عضو",
                                        "type": "array",
                                        "items": {
                                            "type": "string"
                                        },
                                        "example": [
                                            "Manager",
                                            "Developer"
                                        ]
                                    },
                                    "email": {
                                        "description": "ایمیل عضو",
                                        "type": "string",
                                        "format": "email",
                                        "example": "john@example.com"
                                    },
                                    "mobile": {
                                        "description": "شماره تلفن همراه عضو",
                                        "type": "string",
                                        "example": "09123456789"
                                    },
                                    "links": {
                                        "description": "لینک‌های مرتبط با عضو",
                                        "type": "array",
                                        "items": {
                                            "type": "string"
                                        },
                                        "example": [
                                            "https://linkedin.com/johndoe"
                                        ]
                                    },
                                    "description": {
                                        "description": "توضیحات",
                                        "type": "string",
                                        "example": "توضیحات در مورد عضو"
                                    },
                                    "image": {
                                        "description": "تصویر عضو",
                                        "type": "string",
                                        "format": "binary"
                                    },
                                    "educational_background": {
                                        "description": "سوابق تحصیلی",
                                        "type": "array",
                                        "items": {
                                            "type": "string"
                                        },
                                        "example": [
                                            "Bachelor in CS",
                                            "Master in IT"
                                        ]
                                    },
                                    "executive_background": {
                                        "description": "سوابق اجرایی",
                                        "type": "array",
                                        "items": {
                                            "type": "string"
                                        },
                                        "example": [
                                            "5 years at XYZ",
                                            "3 years at ABC"
                                        ]
                                    },
                                    "is_published": {
                                        "description": "وضعیت انتشار",
                                        "type": "boolean",
                                        "example": true
                                    },
                                    "categories": {
                                        "description": "شناسه دسته‌بندی‌ها",
                                        "type": "array",
                                        "items": {
                                            "type": "integer"
                                        },
                                        "example": [
                                            1,
                                            2,
                                            3
                                        ]
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "عضو با موفقیت ایجاد شد.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "اعضا با موفقیت ایجاد شد."
                                        },
                                        "province": {
                                            "description": "اطلاعات عضو ایجاد شده",
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "اعتبارسنجی شکست خورد.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "اعتبارسنجی شکست خورد."
                                        },
                                        "details": {
                                            "description": "جزئیات خطا",
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "ایجاد عضو با شکست مواجه شد.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "ایجاد عضو با شکست مواجه شد."
                                        },
                                        "message": {
                                            "description": "پیام خطا",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            }
        },
        "/members/{id}": {
            "get": {
                "tags": [
                    "Members"
                ],
                "summary": "دریافت اطلاعات یک عضو خاص",
                "description": "این متد اطلاعات مربوط به یک عضو خاص را بر اساس شناسه برمی‌گرداند.",
                "operationId": "getMemberById",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "توکن احراز هویت به صورت Bearer Token",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "شناسه عضو",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "عضو با موفقیت پیدا شد.",
                        "content": {
[...]
