.select2-selection.select2-selection--multiple{
    height: 38px;
}

.select2-selection.select2-selection--multiple .select2-selection__choice{
    font-size: 11px;
    padding: 0 5px;
    height: 25px;
    line-height: 25px;
}

.metismenu li a.active{
    background-color: rgba(50, 50, 50, 0.5) !important;
}

input[name=mobile],
input[name=phone],
input[name=national_id],
input[name=birth_certificate_number],
input[name=code],
input[name=email],
input[type=email],
input[type=number],
input[name=password],
input[name=info_tel],
input.link,
input[name=password_confirmation]
{
    direction: ltr;

}


input[name=mobile]::placeholder,
input[name=phone]::placeholder,
input[name=national_id]::placeholder,
input[name=birth_certificate_number]::placeholder,
input[name=code]::placeholder,
input[name=email]::placeholder,
input[type=email]::placeholder,
input[type=number]::placeholder,
input[name=password]::placeholder,
input[name=info_tel]::placeholder,
input.link::placeholder,
input[name=password_confirmation]::placeholder
 {
    text-align: right;
}
.edit-category-item,.edit-menu-item{
    padding: 5px 6px;
    background: #171014b0;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}
.remove-category-item,.remove-menu-item{
    padding: 5px 6px;
    background: #171014b0;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.dd-item, .dd-empty, .dd-placeholder{
    position: relative;
}
.operation-category-item,.operation-menu-item{
    position: absolute;
    right: 5px;
    z-index: 1;
    top: 5px;
}

.dd .dd-handle, .dd-list.dd-dragel > li div {
    padding-right: 70px;
}

.information .image-thumb-index {
    max-width: 150px;
    height: 60px;
}